
.about {
    position: relative;
    transform-style: preserve-3d;
    z-index: 10;
}

.about h2 {
    margin-bottom: 50px;
    z-index: 1;
}

.about-content {
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.about-text {
    box-sizing: content-box;
    background-color: #264653;
    padding: 100px  5vw;
    width: 300vw;
    z-index: 10;
    transform: skewY(-7deg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#hey {
    font-family: Calistoga;
    font-size: 36px;
}

.about p {
    color: white;
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.5;
    width: 85%;
    max-width: 500px;
    transform: skewY(7deg);
}

.skills {
    width: 85%;
    max-width: 500px;
}

.skills p {
    margin: 50px 0 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.skills-list {
    opacity: 0;
    transform: skewY(7deg);
    color: white;
    font-family: Roboto;
    font-size: 18px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.skills-list li {
    background-color: #e76f51;
    margin: 3px;
    padding: 5px 8px;
}

.about-circle-wrapper {
    transform: translateZ(3px) scale(.7);
    z-index: -10;
}

.about-circle {
    height: 30vw;
    max-height: 300px;
    position: absolute;
    bottom: -200px;
    right: 10vw;  
    animation: square-hover 30s linear infinite;
    filter: brightness(0) saturate(100%) invert(94%) sepia(11%) saturate(6839%) hue-rotate(312deg) brightness(95%) contrast(102%);
}

.about-triangle-wrapper {
    transform: translateZ(1px) scale(.9);
    z-index: -10;
}

.about-triangle {
    height: 50vw;
    max-height: 300px;
    position: absolute;
    bottom: -1050px;
    left: 10vw;  
    animation: hex-hover 90s linear infinite;
}

@media screen and (min-width: 340px) {
    .about-triangle {
        bottom: -950px;
    }
}

@media screen and (min-width: 600px) {

    .about-content {
        width: calc(100vw - 70px);
        left: 70px;
    }

    .about-circle {
        bottom: -30vw;
    }

    .about-triangle {
        bottom: clamp(-850px, -120vw, -10px);
    }
}

@media screen and (min-width: 900px) {

    .about-text {
        flex-direction: row;
    }

    .skills {
        width: clamp(100px, 85%, 400px);
        margin-left: 50px;
    }
}