
.projects {
    position: relative;
    transform-style: preserve-3d;
    /* background-color: #e76f51;
    color: white;
    padding-top: 200px;
    top: 500px; */
}

.projects h2 {
    margin-bottom: clamp(10px, 12vw, 80px);
    margin-top: 16vw;
}

.projects-title {
    width: calc(100vw - 30px);
    position: relative;
    left: 30px;
    text-align: center;
    font-family: Calistoga;
    font-size: 36px;
    margin-bottom: 100px;
}

.projects-content {
    width: calc(100vw - 30px);
    position: relative;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Browser */

.browser-container {
    width: 70vw;
    max-width: 400px;
}

.browser {
    width: 70vw;
    max-width: 400px;
    height: 70vw;
    max-height: 400px;
    background-color: rgb(238, 238, 238);
    box-shadow: 5px 5px 0 rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
}

.browser-header {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 3%;
}

.browser-circles {
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.browser-circle {
    width: 2vw;
    max-width: 11px;
    height: 2vw;
    max-height: 11px;
    border-radius: 50%;
}

.browser-circle:nth-child(1) {
    background-color: rgb(245, 94, 53);
}

.browser-circle:nth-child(2) {
    background-color: rgb(250, 211, 83);
}

.browser-circle:nth-child(3) {
    background-color: rgb(93, 209, 93);
}

.url-bar {
    background-color: rgb(245, 245, 245);
    height: fit-content;
    width: 60%;
    height: 65%;
    overflow: hidden;
    border-radius: 100px;
    display: flex;
    align-items: center;
}

.url-bar p {
    font-family: Helvetica;
    font-size: clamp(5px, 2.5vw, 12.5px);
    color: rgb(76, 76, 76);
    margin: clamp(5px, 1.5vw, 7.5px);
}

.browser-menu {
    width: 8%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 2%;
}

.menu-bar {
    width: 100%;
    height: 20%;
    background-color: rgb(186, 186, 186);
    border-radius: 100px;
}

.browser-content {
    width: 100%;
    height: 88%;
    background-color: white;
}

.browser-content video {
    width: 100%;
}

.project-nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: clamp(5px, 7vw, 30px);
}

.project-nav-buttons button {
    padding: 5px 20px;
    background-color: rgb(238, 238, 238);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.project-nav-buttons button img {
    height: 5vw;
    max-height: 35px;
}




.projects-circle-wrapper {
    transform: translateZ(-1px) scale(1.1);
    z-index: -10;
}

.projects-circle {
    display: none;
    height: clamp(500px, 60vw, 600px);
    position: absolute;
    top: -80px;
    right: 28vw;
    animation: square-hover 30s linear infinite;
}

.projects-hex-wrapper {
    transform: translateZ(-5px) scale(1.5);
    z-index: -10;
}

.projects-hex {
    display: none;
    height: 50vw;
    max-height: 300px;
    position: absolute;
    right: clamp(-100px, -20vw, -10px);
    top: -300px;
    animation: triangle-hover 90s linear infinite;
    filter: brightness(0) saturate(100%) invert(48%) sepia(75%) saturate(384%) hue-rotate(123deg) brightness(92%) contrast(89%);
}


/* Project Info */

.project-info {
    width: 70vw;
    max-width: 400px;
    font-family: Roboto;
    line-height: 1.5;
    margin: clamp(5px, 5vw, 20px) 0;
}

.project-info h3 {
    font-size: 24px;
}

.link-buttons {
    margin-top: clamp(5px, 8vw, 40px);
}

.link-buttons button {
    font-family: Roboto;
    font-size: 18px;
    color: white;
    background-color: #2a9d8f;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
}

.link-buttons button:nth-child(1) {
    background-color: #264653;
    margin-right: clamp(5px, 5vw, 10px);
    margin-bottom: clamp(5px, 7vw, 15px);
}


@media screen and (min-width: 600px){

    .projects h2 {
        margin-top: 0;
    }

    .projects-title {
        width: calc(100vw - 70px);
        left: 70px;
    }

    .projects-content {
        width: calc(100vw - 70px);
        left: 70px;
    }

    .project-nav-buttons {
        justify-content: center;
    }

    .project-nav-buttons button {
        margin: 0 5%;
    }

    .projects-hex {
        display: block;
        top: -400px;
    }

    .projects-circle {
        display: block;
    }

}

@media screen and (min-width: 750px) {

    .projects-hex {
        right: clamp(-40px, -20vw, -10px);
        top: -350px;
    }
}

@media screen and (min-width: 900px){

    .projects-content {
        flex-direction: row;
        justify-content: center;
        box-sizing: border-box;
    }

    .browser-container {
        width: 40vw;
        margin-left: clamp(10px, 8vw, 150px);
    }

    .browser {
        width: 40vw;
        height: 40vw;
    }

    .browser-circle {
        max-width: 12px;
        max-height: 12px;
    }

    .url-bar p {
        font-size: clamp(5px, 2.5vw, 16px);
        margin: clamp(5px, 1.5vw, 9.5px);
    }

    .project-info {
        width: 30vw;
        margin: 0 clamp(5px, 8vw, 70px);
        position: relative;
        bottom: 5vw;
    }

    .projects-hex {
        right: 2vw;
        bottom: -10px;
    }

    .projects-circle {
        top: -80px;
        right: 40vw;
    }
}

@media screen and (min-width: 1200px) {

    .projects-circle {
        top: -80px;
        right: 45vw;
    }
}
