
.projects h2 {
    margin-bottom: 100px;
}

.projects-content {
    width: calc(100vw - 30px);
    position: relative;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-list {
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 60vw;
    max-width: 250px;
    margin: 30px 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-preview {
    width: 60vw;
    max-width: 250px;
    height: 60vw;
    max-height: 250px;
    border: 1px solid black;
    border-radius: 5px;
}


.projects p {
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
}


@media screen and (min-width: 600px){

    .projects-content {
        width: calc(100vw - 70px);
        left: 70px;
    }

    .project {
        width: 30vw;
    }

    .project-preview {
        width: 30vw;
        height: 30vw;
    }
}

@media screen and (min-width: 900px){

    .project {
        width: 20vw;
    }

    .project-preview {
        width: 20vw;
        height: 20vw;
    }
}
