
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(252, 252, 255);
}

header {
    width: 70px;
    height: 100vh;
    position: fixed;
    background-color: black;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

header img {
    height: 30px;
    margin-bottom: 60px;
}

header img:hover {
    cursor: pointer;
}

header img:nth-child(1) {
    filter: invert(51%) sepia(84%) saturate(1881%) hue-rotate(332deg) brightness(102%) contrast(81%);
}
header img:nth-child(2) {
    filter: invert(71%) sepia(78%) saturate(466%) hue-rotate(322deg) brightness(97%) contrast(97%);
}
header img:nth-child(3) {
    filter: invert(90%) sepia(95%) saturate(1145%) hue-rotate(311deg) brightness(107%) contrast(83%);
}
header img:nth-child(4) {
    margin-bottom: 100px;
    filter: invert(45%) sepia(99%) saturate(305%) hue-rotate(123deg) brightness(94%) contrast(89%);
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    height: 1000px;
    overflow-y: auto;
    perspective: 10px;
}

.scroll {
    margin-top: 2000px;
}

/* #title {
    font-family: Roboto;
    margin-top: 90px;
    z-index: -1;
    position: relative;
}

.intro {
    font-size: clamp(20px, 9vw, 70px);
    font-weight: 500;
}

#title p {
    margin: 5px 0;
}

.build {
    font-size: clamp(10px, 5vw, 32px);
    position: absolute;
    left: 19%;
} */


#title {
    font-family: Calistoga;
    position: relative;
    bottom: clamp(10px, 8vw, 80px);
}

#title p {
    margin: 0;
}

#elena {
    font-size: clamp(20px, 18vw, 180px);
    position: relative;
    top: clamp(10px, 8vw, 80px);
    /* right: 10px; */
}

#brosseau {
    font-size: clamp(20px, 15vw, 150px);
    /* position: relative;
    left: 8vw;     */
}

/* .name {
    font-family: Calistoga;
    
} */

.name {
    color: rgb(255, 108, 68);
}

/* .name {
    background: linear-gradient(120deg, rgb(255, 217, 0) 0%, rgb(255, 217, 0) 100%);
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position: 0 80%;
} */

/* .intro {
    margin: 0;
    font-size: clamp(10px, 5vw, 32px);
    position: relative;
    right: clamp(1px, 3vw, 20px);
    top: clamp(1px, 1.5vw, 10px);
}

.hello {
    font-size: clamp(15px, 7vw, 50px);
    margin-right: clamp(1px, 1vw, 5px);
}

h1 {
    font-size: clamp(20px, 11vw, 70px);
    margin: 0;
}

.web-dev {
    text-align: end;
    font-size: clamp(10px, 5vw, 32px);
    margin: 0;
} */

#self, #shapes {
    position: relative;
    bottom: 200px;
    display: flex;
    justify-content: center;
}

#self {
    margin-top: 60px;
    z-index: 1;
}

#shapes {
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.shape, .self-img {
    position: absolute;
    height: 50vw;
    max-height: 300px;
}

.shape {
    transition: filter 1s;
}

.shape:hover {
    filter: brightness(1.2);
}

.self-img {
    transform: scale(1.2);
    top: clamp(10px, 70vw, 100px);
}

.hex-wrapper {
    transform: translateZ(1px) scale(.9);
}

.hex {
    transform: scale(.6);
    left: clamp(-800px, -65vw, -150px);
    top: 50px;
    animation: hex-hover 90s linear infinite;
}

.red-wrapper {
    transform: translateZ(3px) scale(.7);
}

.red-circle {
    transform: scale(.8);
    right: clamp(-450px, -70vw, -10px);
    top: clamp(10px, 60vw, 280px);
    animation: red-hover 30s linear infinite;
}

.square-wrapper {
    transform: translateZ(2px) scale(.8);
}

.square {
    transform: scale(1.1);
    top: clamp(10px, 90vw, 400px);
    left: clamp(-550px, -70vw, 10px);
    animation: square-hover 30s linear infinite;
}

.triangle-wrapper {
    transform: translateZ(-8px) scale(1.8);
}

.triangle {
    transform: scale(.5);
    right: clamp(-450px, -55vw, -10px);
    top: -180px;
    animation: triangle-hover 60s linear infinite;
}

.yellow-wrapper {
    transform: translateZ(-10px) scale(2);
}

.yellow-circle {
    transform: scale(1.2);
    bottom: 300px;
    left: clamp(-850px, -10vw, 50px);
    animation: yellow-hover 30s linear infinite;
}


@media screen and (min-width: 750px) {

    #title {
        align-self: flex-start;
        margin-left: 50px;
    }

    #self, #shapes {
        align-self: flex-end;
    }

    #shapes {
        right: 380px;
    }

    .self-img {
        right: 250px;
        top: 100px;
    }
}

@media screen and (min-width: 1250px) {


    .hex {
        left: -900px;
        top: 100px;
    }
    
    .red-circle {
        right: -350px;
        top: 300px;
    }
    
    .square {
        top: 350px;
        left: -580px;
    }
    
    .triangle {
        right: -35vw;
        top: -180px;
    }
    
    .yellow-circle {
        bottom: 140px;
        left: -7vw;
    }
} 


@keyframes square-hover {
    0% {
        transform: translate(0, 0) scale(1.1);
    }

    14% {
        transform: translate(10px, -10px) scale(1.1);
    }

    22% {
        transform: translate(0, 5px) scale(1.1);
    }

    43% {
        transform: translate(5px, -15px) scale(1.1);
    }

    58% {
        transform: translate(0, 0) scale(1.1);
    }

    77% {
        transform: translate(-8px, 10px) scale(1.1);
    }

    100% {
        transform: translate(0, 0) scale(1.1);
    }
}

@keyframes triangle-hover {
    0% {
        transform: translate(0, 0) scale(.5) rotate(0);
    }

    16% {
        transform: translate(10px, 10px) scale(.5) rotate(60deg);
    }

    32% {
        transform: translate(0, 5px) scale(.5) rotate(120deg);
    }

    48% {
        transform: translate(-5px, 15px) scale(.5) rotate(180deg);
    }

    64% {
        transform: translate(0, 0) scale(.5) rotate(240deg);
    }

    80% {
        transform: translate(8px, 10px) scale(.5) rotate(300deg);
    }

    100% {
        transform: translate(0, 0) scale(.5) rotate(360deg);
    }
}

@keyframes hex-hover {

    0% {
        transform: translate(15px, 15px) scale(.6) rotate(0);
    }

    17% {
        transform: translate(0, 5px) scale(.6) rotate(-60deg);
    }

    34% {
        transform: translate(-15px, 25px) scale(.6) rotate(-120deg);
    }

    51% {
        transform: translate(0, 0) scale(.6) rotate(-180deg);
    }

    68% {
        transform: translate(12px, 15px) scale(.6) rotate(-240deg);
    }

    85% {
        transform: translate(0, 0) scale(.6) rotate(-300deg);
    }

    100% {
        transform: translate(15px, 15px) scale(.6) rotate(-360deg);
    }
}

@keyframes red-hover {

    0% {
        transform: translate(0, 0) scale(.8);
    }

    15% {
        transform: translate(0, 15px) scale(.8);
    }

    30% {
        transform: translate(0, 0) scale(.8);
    }

    45% {
        transform: translate(5px, 10px) scale(.8);
    }

    60% {
        transform: translate(12px, 25px) scale(.8);
    }

    75% {
        transform: translate(0, 5px) scale(.8);
    }

    90% {
        transform: translate(15px, 15px) scale(.8);
    }

    100% {
        transform: translate(0, 0) scale(.8);
    }
}

@keyframes yellow-hover {

    0% {
        transform: translate(0, 0) scale(1.2);
    }

    8% {
        transform: translate(-5px, 10px) scale(1.2);
    }

    18% {
        transform: translate(0, 0) scale(1.2);
    }

    35% {
        transform: translate(5px, 15px) scale(1.2);
    }

    50% {
        transform: translate(-12px, 25px) scale(1.2);
    }

    72% {
        transform: translate(0, 15px) scale(1.2);
    }

    88% {
        transform: translate(20px, 20px) scale(1.2);
    }

    100% {
        transform: translate(0, 0) scale(1.2);
    }
}


