
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(252, 252, 255);
}

header {
    width: 30px;
    height: 100vh;
    position: fixed;
    background-color: rgb(0, 0, 0);
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

header img {
    display: none;
    height: 30px;
    margin-bottom: 60px;
    filter: invert();
}

header img:hover {
    cursor: pointer;
}

header img:nth-child(1) {
    filter: invert(51%) sepia(84%) saturate(1881%) hue-rotate(332deg) brightness(102%) contrast(81%);
}
header img:nth-child(2) {
    filter: invert(71%) sepia(78%) saturate(466%) hue-rotate(322deg) brightness(97%) contrast(97%);
}
header img:nth-child(3) {
    filter: invert(90%) sepia(95%) saturate(1145%) hue-rotate(311deg) brightness(107%) contrast(83%);
}
header img:nth-child(4) {
    margin-bottom: 100px;
    filter: invert(45%) sepia(99%) saturate(305%) hue-rotate(123deg) brightness(94%) contrast(89%);
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    height: 100vh;
    overflow-y: auto;
    perspective: 10px;
}

.scroll {
    margin-top: 2000px;
}

/* #title {
    font-family: Roboto;
    margin-top: 90px;
    z-index: -1;
    position: relative;
}

.intro {
    font-size: clamp(20px, 9vw, 70px);
    font-weight: 500;
}

#title p {
    margin: 5px 0;
}

.build {
    font-size: clamp(10px, 5vw, 32px);
    position: absolute;
    left: 19%;
} */


#title {
    font-family: Calistoga;
    position: relative;
    margin-left: 18px;
    top: clamp(10px, 20vw, 50px);
    align-self: flex-start;
    /* bottom: clamp(-60px, -100vw, -80px); */
}

#title p {
    margin: 0;
}

#elena {
    font-size: clamp(20px, 22vw, 180px);
}

#brosseau {
    font-size: clamp(20px, 18vw, 150px);
    position: relative;
    bottom: clamp(10px, 6vw, 80px);
}

.section-title {
    font-size: clamp(20px, 18vw, 150px);
    font-family: Calistoga;
    align-self: flex-start;
    margin-left: 18px;
    position: relative;
    top: 120vw;
}

/* .name {
    font-family: Calistoga;
    
} */

/* .name {
    color: rgb(255, 108, 68);
} */

/* .name {
    background: linear-gradient(120deg, rgb(255, 217, 0) 0%, rgb(255, 217, 0) 100%);
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position: 0 80%;
} */

/* .intro {
    margin: 0;
    font-size: clamp(10px, 5vw, 32px);
    position: relative;
    right: clamp(1px, 3vw, 20px);
    top: clamp(1px, 1.5vw, 10px);
}

.hello {
    font-size: clamp(15px, 7vw, 50px);
    margin-right: clamp(1px, 1vw, 5px);
}

h1 {
    font-size: clamp(20px, 11vw, 70px);
    margin: 0;
}

.web-dev {
    text-align: end;
    font-size: clamp(10px, 5vw, 32px);
    margin: 0;
} */


#self, #shapes {
    position: relative;
    bottom: clamp(40px, 30vw, 60px);
    /* bottom: 200px; */
    /* top: 5vw; */
    display: flex;
    justify-content: center;
}

#self {
    margin-top: 60px;
    z-index: 1;
}

#shapes {
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.shape, .self-img {
    position: absolute;
    height: 50vw;
    max-height: 300px;
}

.shape {
    transition: filter 1s;
}

.shape:hover {
    filter: brightness(1.2);
}

.self-img {
    transform: scale(1.2);
    top: clamp(10px, 70vw, 100px);
}

.hex-wrapper {
    transform: translateZ(1px) scale(.9);
}

.hex {
    transform: scale(.6);
    left: clamp(-650px, -65vw, -150px);
    top: 50px;
    animation: hex-hover 90s linear infinite;
}

.red-wrapper {
    transform: translateZ(3px) scale(.7);
}

.red-circle {
    transform: scale(.8);
    right: clamp(-350px, -70vw, -1px);
    top: 300px;
    animation: red-hover 30s linear infinite;
}

.square-wrapper {
    transform: translateZ(2px) scale(.8);
}

.square {
    transform: scale(1.1);
    top: clamp(10px, 100vw, 500px);
    left: clamp(-550px, -50vw, 10px);
    animation: square-hover 30s linear infinite;
}

.triangle-wrapper {
    transform: translateZ(-8px) scale(1.8);
}

.triangle {
    transform: scale(.5);
    right: clamp(-400px, -60vw, -10px);
    top: -80px;
    animation: triangle-hover 60s linear infinite;
}

.yellow-wrapper {
    transform: translateZ(-10px) scale(2);
}

.yellow-circle {
    transform: scale(1.2);
    bottom: 180px;
    left: clamp(-850px, -10vw, -10px);
    animation: yellow-hover 30s linear infinite;
}


@media screen and (min-width: 600px) {

    header {
        width: 70px;
    }

    header img {
        display: block;
    }

    #title {
        align-self: flex-start;
        margin-left: 55px;
        margin-top: 30px;
        position: absolute;
        top: 0;
        /* bottom: clamp(-10px, -100vw, -80px); */
    }

    #elena {
        font-size: clamp(120px, 13vw, 180px);
    }
    
    #brosseau {
        font-size: clamp(100px, 11vw, 150px);
        position: relative;
        bottom: clamp(50px, 6vw, 80px);
    }

    .section-title {
        align-self: flex-start;
        margin-left: 55px;
        font-size: clamp(100px, 11vw, 150px);
        top: 800px;
    }

    #self, #shapes {
        align-self: flex-end;
        top: 220px;
    }

    #shapes {
        right: clamp(10px, 28vw, 380px);
    }

    .self-img {
        right: clamp(10px, 18vw, 250px);
        top: 100px;
    }

    .hex {
        left: clamp(-750px, -85vw, -150px);
        top: 50px;
    }

    .red-circle {
        right: clamp(-350px, -35vw, -1px);
        top: 350px;
    }

    .square {
        top: clamp(10px, 90vw, 400px);
        left: clamp(-550px, -90vw, 10px);
    }

    .triangle {
        right: clamp(-400px, -45vw, -10px);
        top: -180px;
    }

    .yellow-circle {
        bottom: 220px;
        left: clamp(-850px, -10vw, -10px);
    }
}

@media screen and (min-width: 1100px) {

    #title, .section-title {
        margin-left: 50px;
        margin-top: 0;
    }

    .hex {
        left: -900px;
        top: 100px;
    }
    
    .red-circle {
        right: -350px;
        top: 300px;
    }
    
    .square {
        top: 350px;
        left: -580px;
    }
    
    .triangle {
        right: -35vw;
        top: -180px;
    }
    
    .yellow-circle {
        bottom: 140px;
        left: -7vw;
    }
} 


@keyframes square-hover {
    0% {
        transform: translate(0, 0) scale(1.1);
    }

    14% {
        transform: translate(10px, -10px) scale(1.1);
    }

    22% {
        transform: translate(0, 5px) scale(1.1);
    }

    43% {
        transform: translate(5px, -15px) scale(1.1);
    }

    58% {
        transform: translate(0, 0) scale(1.1);
    }

    77% {
        transform: translate(-8px, 10px) scale(1.1);
    }

    100% {
        transform: translate(0, 0) scale(1.1);
    }
}

@keyframes triangle-hover {
    0% {
        transform: translate(0, 0) scale(.5) rotate(0);
    }

    16% {
        transform: translate(10px, 10px) scale(.5) rotate(60deg);
    }

    32% {
        transform: translate(0, 5px) scale(.5) rotate(120deg);
    }

    48% {
        transform: translate(-5px, 15px) scale(.5) rotate(180deg);
    }

    64% {
        transform: translate(0, 0) scale(.5) rotate(240deg);
    }

    80% {
        transform: translate(8px, 10px) scale(.5) rotate(300deg);
    }

    100% {
        transform: translate(0, 0) scale(.5) rotate(360deg);
    }
}

@keyframes hex-hover {

    0% {
        transform: translate(15px, 15px) scale(.6) rotate(0);
    }

    17% {
        transform: translate(0, 5px) scale(.6) rotate(-60deg);
    }

    34% {
        transform: translate(-15px, 25px) scale(.6) rotate(-120deg);
    }

    51% {
        transform: translate(0, 0) scale(.6) rotate(-180deg);
    }

    68% {
        transform: translate(12px, 15px) scale(.6) rotate(-240deg);
    }

    85% {
        transform: translate(0, 0) scale(.6) rotate(-300deg);
    }

    100% {
        transform: translate(15px, 15px) scale(.6) rotate(-360deg);
    }
}

@keyframes red-hover {

    0% {
        transform: translate(0, 0) scale(.8);
    }

    15% {
        transform: translate(0, 15px) scale(.8);
    }

    30% {
        transform: translate(0, 0) scale(.8);
    }

    45% {
        transform: translate(5px, 10px) scale(.8);
    }

    60% {
        transform: translate(12px, 25px) scale(.8);
    }

    75% {
        transform: translate(0, 5px) scale(.8);
    }

    90% {
        transform: translate(15px, 15px) scale(.8);
    }

    100% {
        transform: translate(0, 0) scale(.8);
    }
}

@keyframes yellow-hover {

    0% {
        transform: translate(0, 0) scale(1.2);
    }

    8% {
        transform: translate(-5px, 10px) scale(1.2);
    }

    18% {
        transform: translate(0, 0) scale(1.2);
    }

    35% {
        transform: translate(5px, 15px) scale(1.2);
    }

    50% {
        transform: translate(-12px, 5px) scale(1.2);
    }

    72% {
        transform: translate(0, 15px) scale(1.2);
    }

    88% {
        transform: translate(20px, 20px) scale(1.2);
    }

    100% {
        transform: translate(0, 0) scale(1.2);
    }
}


