


.contact {
    margin: 0 !important;
}

.wave {
    width: 100%;
    margin-top: 0 !important;
}

.contact-title {
    font-size: clamp(20px, 15vw, 80px);
    font-family: Calistoga;
    font-weight: normal;
    align-self: center;
    margin: 0 0 30px 0;
    text-align: center;
    /* display: none; */
}

.contact-title span {
    color: #ffd773;
}

.contact-container {
    width: 100vw;
    /* max-width: 1000px; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    padding: 100px 3vw 150px;
    background-color: #2a9d8f;
    color: white;
}

.contact form {
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: clamp(15px, 7vw, 20px) clamp(15px, 7vw, 100px); */
}

.contact form p {
    width: 100%;
    font-family: Calistoga;
    font-size: 36px;
    font-style: italic;
    margin: 20px;
}

.contact input, .contact textarea {
    width: 100%;
    font-size: 1rem;
    font-family: Roboto;
    box-sizing: border-box;
    margin: 10px 0;
    padding: clamp(5px, 2vw, 15px);
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 5px 5px 0 black;
    resize: none; 
}

.submit {
    background-color: #264653;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-info {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    max-width: 400px;
}

.contact-info.lower {
    width: fit-content;
    margin: 50px auto;
}

.contact-info.upper {
    display: none;
    width: 70%;
    margin: clamp(15px, 7vw, 20px) 1vw;
}

.contact-info img {
    height: clamp(10px, 8vw, 30px);
    filter: invert(87%) sepia(100%) saturate(451%) hue-rotate(316deg) brightness(102%) contrast(101%);
}

.contact-info p, .contact-info a {
    font-family: Roboto;
    font-size: clamp(10px, 4vw, 18px);
    margin: 12px;
    margin-left: clamp(5px, 5vw, 10px);
    color: #ffd773;
}

.contact-info a {
    cursor: pointer;
}

.contact-info a:hover {
    color: white;
}

.contact-info a:active {
    color: #ffd773;
}

@media screen and (min-width: 600px) {

    .contact-container {
        width: calc(100vw - 70px);
        left: 70px;
    }

}

@media screen and (min-width: 900px) {
    
    .contact-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .contact-title {
        font-size: clamp(60px, 8vw, 100px);
        margin: 0;
    }

    .contact-info {
        margin: 20px 10px;
    }

    .contact-info.lower {
        display: none;
    }

    .contact-info.upper {
        display: grid;
    }
}
